:root {
    --preset-padding: 8px;
    --preset-radius: 3px;
    --window-radius: 6px;
}

.config {
    border-radius: 6px;
    position: absolute;
    top: 50px;
    left: calc(50% - 250px);
    background-color: #4b4b4b;
    border: 2px solid white;
    width: 500px;
    color: white;
    text-align: center;
}

.config div {
    padding: 20px;
}

.config textarea {
    width: 90%;
    height: 200px;
    font-family: monospace;
}

.config button {
}

body {
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans,arial, serif;
    font-size: 17px;
    background-color: transparent;
    margin: 0;
}

.harvest-container {
    border-radius: var(--window-radius);
    background-color: #24292d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    border-top-left-radius: var(--window-radius);
    border-top-right-radius: var(--window-radius);
    display: flex;
    padding: 10px;
    background-color: #2f363e;
}

input {
    font-size: 17px;
    border: 1px solid #2f363e;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
    background-color: #1c2125;
    color: darkgray;
    font-weight: lighter;
}

#date {
    width: 100px;
}

#note {
    width: 154px;
}

.toolButton {
    display: flex;
    border: 1px solid #1c2125;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}


.toolButton div {
    padding: 5px 5px;
    cursor: pointer;
    color: darkgray;
    font-weight: lighter;
}

.quickTime, .runningTimer{
    display: flex;
    border: 1px solid #1c2125;
    margin-right: 10px;
    border-radius: 3px;
}

.quickTime div, .runningTimer div {
    border-right: 1px solid #1c2125;
    padding: 5px 9px;
    cursor: pointer;
    color: darkgray;
    font-weight: lighter;
}

.runningTimer div {
    border-right: none;
    padding: 3px 9px;
}

.runningTimer.active {
    background-color: #2c5e97;
    color: #d9d5d5;
}

.runningTimer.active div {
    transform: rotate(-360deg);
    transition-duration: 2s;
    transition-property: transform;
}

.quickTime div.active {
    background-color: #1c2125;
}

.quickTime div:last-child {
    border: none;
    padding: 0px;
}

#quickTimeInput {
    width: 30px;
    margin: 0px;
    text-align: right;
}

.presets {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.presets div:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.presets div {
    flex: 1 0 18%; /* explanation below */
    cursor: pointer;
    height: 100%;
    border-radius: var(--preset-radius);
}

.presets div[data-note] .task:after {
    content: '*';
    color: white;
    font-size: 12px;
    margin-left: 5px;
}

.project, .task {
    display: block;
}

.project {
    border-top-left-radius: var(--preset-radius);
    border-top-right-radius: var(--preset-radius);
    background-color: #2e3641;
    padding: var(--preset-padding) var(--preset-padding) 5px;
    color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.task {
    background-color: #272e36;
    padding: 5px var(--preset-padding) var(--preset-padding);
    border-bottom-left-radius: var(--preset-radius);
    border-bottom-right-radius: var(--preset-radius);
    color: #59636f;
    font-size: 14px;
}

.toast {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b9f8b9;
    border: 1px solid #329832;
    padding: 10px;
    color: #329832;
    margin: 20px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 1;
    transition: 0.5s;
}

.toast.toastRunning {
    background-color: #f8ebb9;
}

.hide {
    display: none; 
}

.hideVisibility {
    opacity: 0;
    transition: 0.5s;
}

.ooo {
    border-top: 1px dashed #1c2125;;
    padding-top: 10px;
    padding-bottom: 10px;
}

.timeEntry {
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
.timeEntry__json textarea {
    color: gray;
    background-color: #24292d;
    padding: 10px;
    width: 80%;
    margin-left: 20px;
}
